/*
 * Author: Monayem Hossain Limon
 * GitHub: https://github.com/Limon00001
 * Date: 02 Jul, 2025
 * @copyright 2025 monayem_hossain_limon
 */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Tailwind CSS */
@import 'tailwindcss';

/* Theme */
@theme {
  --font-outfit: 'Outfit', sans-serif;
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

/* Global Styles */
@layer base {
  html {
    @apply scroll-smooth font-outfit;
  }

  body {
    @apply p-0 m-0 box-border overflow-x-hidden bg-[#09090b] text-white;
  }
}

/* Custom Utilities */
.no-scrollbar {
  scrollbar-width: none;
}
